.main {
    background-color: bisque;
    border-radius: 20px;
    height: 400px;
    width: 500px;
    margin: 0 auto;
    margin-top: 150px;
    border: 2px solid black;
}
.heading {
    text-align: center;
    padding-top: 20px;
}
.btn {
    height: 30px;
    width: 120px;
    margin-left: 190px;
    margin-top: 20px;
    border-radius: 5px;
    border-width: 2.5px;
}
.box {
    height: 100px;
    width: 350px;
    color: white;
    margin-top: 80px;
    margin-left: 75px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 10px;
}